!/themes/bootstrap-2
*.log
*~
.*.swo
.*.swp
.DS_Store
.bundle/
.rbenv-version
.sass-cache/
/.env
/config/database.yml
/coverage/
/db/*.sqlite3
/public/attachments
/public/files
/public/images/theme
/public/javascripts/all.js
/public/javascripts/ckeditor/config.bak
/public/javascripts/ckeditor/config.js
/public/pictures
/public/robots.txt
/public/stylesheets/all.css
/public/stylesheets/theme
/public/uploads
/themes/*
/vendor/bundle
bower.json
config/mail.yml
config/secret.token
config/timezone.yml
db/*.sqlite*
db/db*
gems/
installer/rails_installer.yml
nbproject
node_modules/
public/cache/*
tmp/*
vendor/assets/bower_components
