<%- content_for :page_heading do %>
  <i class="icon-large"></i>
  <h2 class="page-title"><%= t('.destroy_confirmation') %></h2>
<% end %>

<div class='well'>
  <p>
    <%= t(".are_you_sure")%>
  </p>

  <%= form_tag admin_content_path(@article), method: :delete do %>
    <hr>
    <div class='form-actions'>
      <%= t(".action_or_other", first_action: link_to(t(".cancel"), admin_contents_path), second_action: submit_tag(t(".delete"), class: "btn btn-danger")) %>
    </div>
  <% end %>
</div>
