.l-index {
  background: $concrete;
}

.l-index--campaign {
  margin-top: baseline-unit(-16);
  padding-top: baseline-unit(20);

  @include respond-to($mq-l) {
    margin-top: baseline-unit(-22);
    padding-top: baseline-unit(28);
  }
}

.l-index-archive {
  @include column(12);
}

.l-index-archive__link {
  background: $white;
  padding: baseline-unit(3);
  display: block;
  margin-top: -5px;
  @include font-size(30);
  text-align: center;
  width: 100%;
  border: 1px solid $maps-outline;
  border-radius: 4px;
  font-weight: 700;
  margin-right: baseline-unit(2);
  box-shadow: $maps-box-shadow;

  &:link,
  &:hover,
  &:focus,
  &:visited {
    color: $maps-primary-magenta;
  }
}

.l-index-archive__link-arrow {
  margin-top: 3px;
  float: right;
  fill: $white;
  width: 21px;
  height: 34px;
}
