.l-tiles {
  @extend %clearfix;
  padding-bottom: baseline-unit(5);
}

.l-tiles__inner {
  @include column(12);

  .homepage & {
    margin-top: 5px;
  }

  .flexbox & {
    flex-wrap: wrap;
    flex-flow: row wrap;

    @include respond-to($mq-m) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.l-tiles-title {
  color: $maps-primary-text;
  font-weight: $base-font-family;
  text-align: left;
  padding: baseline-unit(4) baseline-unit(3);
  margin: 0 auto;
  max-width: 75em;
}

.l-tiles-title__header {
  @include font-size(36);
  color: $maps-primary-blue;
  font-family: $brand-font-stack;
  font-weight: $brand-font-weight;
  padding-bottom: baseline-unit(2);
  margin-bottom: 0;
  text-transform: none;
}

.l-tile {
  width: 100%;
  margin-bottom: 25px;
  box-shadow: $maps-box-shadow;
  border-radius: 4px;
  border: 1px solid $maps-outline;

  @include respond-to($mq-m) {
    float: left;

    .non-article-page & {
      width: 48.75%;

      .flexbox & {
        display: flex;
        flex-basis: 48.75%;
        float: none;
        min-height: 0;
      }
    }
  }

  @include respond-to($mq-l) {
    .non-article-page &,
    .article-page & {
      width: 32%;

      .flexbox & {
        display: flex;
        flex-basis: 32%;
        float: none;
        min-height: 0;
      }
    }
  }
}

.l-tile--archive {
  background-color: none;
  border: 0;
  box-shadow: none;

  .non-article-page & {
    float: right;

    @include respond-to($mq-m) {
      .flexbox & {
        margin-left: auto;
        float: none;
        flex-basis: 49.75%;
      }
    }

    @include respond-to($mq-l) {
      .flexbox & {
        flex-basis: 32%;
      }
    }
  }
}
