.also-like {
  clear: both;
}

.also-like__subheader {
  @include column(12);
  @include font-size(32);
  margin: baseline-unit(6) 0 baseline-unit(2);
  padding: 0 baseline-unit(3);
  color: $maps-primary-blue;
  float: left;
  width: 100%;

  @include respond-to($mq-l) {
    margin: baseline-unit(10) 0 baseline-unit(7);
  }
}
