<main class="l-styleguide">

  <h1 class="l-styleguide__title">Styleguide</h1>

  <section class="l-styleguide-section">
    <ul>
      <li><%= link_to("Show All", styleguide_show_path) %></li>
      <li><%= link_to("Article Page", styleguide_article_page_path) %></li>
      <li><%= link_to("Homepage", styleguide_home_page_path) %></li>
    </ul>
  </section>

</main>
