a {
  text-decoration: none;

  .l-article__inner p &,
  .l-footer-links &,
  .l-footer-contact &:not([href^=tel]) {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    .l-article__inner p &,
    .l-footer-links &,
    .l-footer-contact &:not([href^=tel]) {
      text-decoration: none;
    }
  }
}
