a {
  text-decoration: none;
  color: $maps-primary-magenta;

  .l-article__inner p &,
  .l-footer-links &,
  .l-footer-contact &:not([href^=tel]) {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $maps-primary-magenta-dark;

    .l-article__inner p &,
    .l-footer-links &,
    .l-footer-contact &:not([href^=tel]) {
      text-decoration: none;
    }
  }

  &:focus {
    color: $maps-primary-text !important;
    text-decoration: none;
    border-bottom: 4px solid #8200D1;
    background-color: $maps-yellow;
    outline: none !important;
    border-radius: none;
  }

  &:visited {
    color: $maps-support-purple;
  }
}
