.inline-callout {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 27px 33px;
  margin: 35px 0;
  border: 9px solid $maps-yellow;
  border-radius: 0px 0px 0px 36px;
}

.inline-callout__text {
  @include body(22, 28);
  position: relative;
  display: block;
  float: right;
  padding: baseline-unit(1);
  padding-right: baseline-unit(10);
  background-color: white;
}

.inline-callout__text[href^="http://www.moneyhelper.org.uk"],
.inline-callout__text[href^="https://www.moneyhelper.org.uk"]
{
  color: $maps-primary-magenta;
  text-decoration: underline;

  .inline-callout__arrow-path {
    stroke: $maps-primary-magenta;
  }
}

.inline-callout__arrow {
  float: right;
  position: absolute;
  width: 20px;
  height: 32px;
  top: 30%;
  right: 17px;
  margin-left: baseline-unit(5);
}

.inline-callout__arrow-path {
  fill: none;
  stroke: $color-link-default;
}
