.next-steps {
  position: relative;
  padding: baseline-unit(3);
  max-width: $callout-max-width;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDAiIGhlaWdodD0iNTAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxsaW5lIHN0cm9rZT0iI2NlY2VjZSIgc3Ryb2tlLXdpZHRoPSIyIiB4MT0iMCIgeTE9IjUxIiB4Mj0iNDAiIHkyPSItMSIgLz48L3N2Zz4NCg==");
  background-size: 10px 13px;
}

.next-steps__heading {
  @include font-size(34);
  @include inline-block();
  position: absolute;
  top: -25px;
  left: 20px;
}

.next-steps__container-link {
  @include body(18, 26);
  display: table;
  width: 100%;
  background-color: $white;
  font-weight: $font-weight-bold;
  color: $maps-primary-magenta;
  text-decoration: underline;
  padding: baseline-unit(3);

  &:link,
  &:focus,
  &:visited {
    color: $maps-primary-magenta
  }
}

.next-steps__text {
  @include font-size(22);
  display: table-cell;
}

.next-steps__arrow-container {
  display: table-cell;
  vertical-align: middle;
  padding-left: baseline-unit(6);
}

.next-steps__arrow {
  width: 20px;
  float: right;
  fill: $maps-primary-magenta;
  height: 34px;
}
