.campaigns-link {
  @include font-size(16);
  line-height: 1.2;
  font-weight: 500;
  color: $maps-primary-magenta;
  display: table;
  width: 100%;
  position: relative;
  text-decoration: underline;
}

.campaigns-link__text {
  display: table-cell;
  vertical-align: middle;
  color: $maps-primary-magenta;
}

.campaigns-link__arrow {
  width: 30px;
  height: 34px;
  position: relative;
  fill: $maps-primary-magenta;
  display: table-cell;
  vertical-align: top;
}

.campaigns-link__arrow__icon {
  float: right;
  width: 11px;
  height: 34px;
}
