.l-news-signup-inpage {

  .button--newsletter {
    width: 80%;
    margin: $baseline-unit 10% 0 10%;
    font-size: 0.75rem;
    line-height: 0.875rem;
    background: #428513;
    border-bottom: 0;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: background 0.2s ease;
    border: none;
    border-radius: 4px;
    padding: 12px 22px;
  }

}
