// Settings - Define the variables for the Marketing Blog project

$vertical-grid-spacing: 6 !default;

// link color
$link-color--negative: $white;

// typography
$base-font-size: 16 !default;
$base-line-height: 1.4;

$base-font-family: 'Roobert';
$base-font-stack: $base-font-family, sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

$brand-font-family: 'Roobert-Bold';
$brand-font-stack: $brand-font-family, sans-serif;
$brand-font-weight: 900;

$text-color: $nevada;

$heading-color-primary: $maps-primary-text;
$heading-color-secondary: $outer-space;

$emphasised-text-color: $maps-primary-text; // this is used for introducion text

// ui geometry
$border-radius: 5px !default;

// ui colors
$header-bg-color: $maps-primary-blue;

$tag-primary-bgcolor--solid: $black;
$tag-primary-bgcolor--translucent: $black--translucent;

$tag-secondary-bgcolor--solid: $deep-cerulean;
$tag-secondary-bgcolor--translucent: $deep-cerulean--translucent;

$base-border-thin: 1px solid $silver;

$brand-green: $green-leaf !default;

$banner-bg-color: $concrete;

// Tiles
$article-tile-bg--green: $maps-teal;
$article-tile-text--green: $white;
$article-tile-date--green: $white;
$article-tile-comments-bg--green: $maps-teal;

$article-tile-bg--white: $white;
$article-tile-text--white: $maps-teal;
$article-tile-date--white: $outer-space;
$article-tile-comments-bg--white: $maps-teal;

$article-tile-bg--blue: $maps-primary-blue;
$article-tile-text--blue: $white;
$article-tile-date--blue: $white;
$article-tile-comments-bg--blue: $maps-teal;

$article-tile-bg--grey: $concrete;

$article-tile-bg--mas-green: $green-leaf;
$article-tile-text--mas: $white;

$article-tile-bg--popular: $maps-primary-magenta;

$article-tile-date--mas: $white;


$tile--article-secondary-heading-color: $outer-space;

// z-indexes

$z-background: 0;
$z-middleground: 1;
$z-foreground: 2;

$mq-two-col: 768px !default;

$error-color: $cardinal;

// Maps Specific

$maps-radius: 4px;
$maps-box-shadow: 0px 3px 0px rgba(0, 11, 59, 0.25);